.navbar {
    background-color: #464159;
}

#active {
    color: white !important;
}

.navbar a:link, .navbar a:visited {
    color: #f4eeff !important;
}

.navbar a:hover {
    color: white !important;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.MySelector {
    background-color: #464159;
    color: white
}

.dropdown-item:hover {
    background-color: #464159 !important;
    color: white !important
}

.MySelector:hover {
    background-color: #464159 !important;
    color: white !important
}

.MySelectorText {
    color: #424874;
}

.MySelectorText:hover {
    color: #424874;
}