@model ReportingAssistant.ViewModel.CategoriesViewModel
@{
    ViewBag.Title = "Detail Category";
}

<h2>Detail</h2>

<table class="table">
    <tr>
        <th>CATEGORY NAME</th>
        <td>@Model.CategoryName</td>
    </tr>
</table>

<a class="MySelectorText" href="~/Admin/Category/Index">Back to List</a>