@model ReportingAssistant.ViewModel.EditUserPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>Chane Password</h2>
<form action="~/Accounts/ChangePassword" method="post" novalidate="novalidate" class="was-validated">
    @Html.AntiForgeryToken()
    <div class="form-row mx-auto" style="width:300px">
        @Html.HiddenFor(temp => temp.UserID)
        <div class="form-group col-md-12">
            <label>Password</label><br />
            <input type="password" id="password" name="Password" placeholder="Password" required="required" minlength="6" />
            <div class="valid-feedback">
                looks good!
            </div>
            <div class="invalid-feedback">
                Password must contain atleas 6 characters
            </div>
        </div>
        <div class="form-group col-md-12">
            <label>Password</label><br />
            <input type="password" id="password" name="ConfirmPassword" placeholder="Confirm Password" required="required" minlength="6" />
            <div class="valid-feedback">
                looks good!
            </div>
            <div class="invalid-feedback">
                Password must contain atleas 6 characters
            </div>
        </div>
        <div class="form-group col-md-12">

            <button type="submit" class="btn MySelector">SAVE</button>
            <div class="text-danger"> @Html.ValidationSummary()</div>
        </div>
    </div>
</form>

<script>
    $("a[href='/Accounts/ChangePassword']").attr("id", "active")
</script>